*, ::before, ::after {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

button, input, textarea {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
}

input {
  appearance: none;
}

svg {
  display: block;
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}
