@use "settings" as *;
@use "tools" as *;

.items-center { align-items: center; }

.bg-black { background-color: $color-black; }
.bg-gray-lightest { background-color: $color-gray-lightest; }
.bg-white { background-color: $color-white; }
.hocus\:bg-gray-darkest { &:focus, &:hover { background-color: $color-gray-darkest; } }
.hocus\:bg-gray-lightest { &:focus, &:hover { background-color: $color-gray-lightest; } }
.hover\:bg-gray-lightest:hover { background-color: $color-gray-lightest; }

.rounded-4 { border-radius: rem(4); }
.rounded-full { border-radius: 9999px; }

.text-white { color: $color-white; }

.cursor-pointer { cursor: pointer; }

.flex { display: flex; }
.grid { display: grid; }
.inline-flex { display: inline-flex; }
.hidden { display: none; }

.grow { flex-grow: 1; }

.shrink-0 { flex-shrink: 0; }

.flex-wrap { flex-wrap: wrap; }

.text-24 { font-size: rem(24); }

.gap-8 { gap: rem(8); }

.col-end-2 { grid-column-end: 2; }

.col-start-1 { grid-column-start: 1; }

.row-end-2 { grid-row-end: 2; }

.row-start-1 { grid-row-start: 1; }

.justify-between { justify-content: space-between; }

.left-4 { left: rem(4); }

.mt-4 { margin-top: rem(4); }

.max-h-240 { max-height: rem(240); }

.outline-black { outline-color: $color-black; }
.outline-gray-dark { outline-color: $color-gray-dark; }
.focus-within\:outline-gray-darker:focus-within { outline-color: $color-gray-darker; }
.hover\:outline-gray-darker:hover { outline-color: $color-gray-darker; }

.-outline-offset-1 { outline-offset: -1px; }

.outline { outline-style: solid; }
.outline-none { outline-style: none; }

.outline-1 { outline-width: 1px; }

.overflow-hidden { overflow: hidden; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-y-auto { overflow-y: auto; }

.p-12 { padding: rem(12); }
.px-8 { padding-left: rem(8); padding-right: rem(8); }
.px-24 { padding-left: rem(24); padding-right: rem(24); }
.py-12 { padding-bottom: rem(12); padding-top: rem(12); }

.pointer-events-none { pointer-events: none; }

.absolute { position: absolute; }
.relative { position: relative; }

.top-4 { top: rem(4); }

.rotate-180 { transform: rotate(180deg); }

.select-none { user-select: none; }

.invisible { visibility: hidden; }

.whitespace-pre-wrap { white-space: pre-wrap; }

.w-full { width: 100%; }

.break-words { word-break: break-word; }

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
